<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerDeslogueado') %>

	<!-- Banner -->
	<div class="banner">
			<img src="images/vinyls.png" alt="Banner vinyls">
		</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Recomendados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-hawkwind-victim-of-sonic-attack-london-december-30th-1972.png" alt="Vinilo 1">
						</figure>
						<article class="product-box_data">
							<h2>HAWKWIND</h2>
							<p>VICTIM OF SONIC ATTACK </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-vr-sex-human-traffic-jam.png" alt="Vinilo 2">
						</figure>
						<article class="product-box_data">
							<h2>VR SEX</h2>
							<p>HUMAN TRAFFIC JAM</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-vibravoid-vibrations-from-the-cosmic-void.png" alt="Vinilo 3">
						</figure>
						<article class="product-box_data">
							<h2>VIBRAVOID</h2>
							<p>VIBRATIONS FROM THE COSMIC VOID</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-various-issues-va001.png" alt="Vinilo 4">
						</figure>
						<article class="product-box_data">
							<h2>VARIOUS</h2>
							<p>ISSUES VA001</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más populares</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-psychonaut-unfold-the-god-man.png" alt="Vinilo 5">
						</figure>
						<article class="product-box_data">
							<h2>PSYCHONAUT</h2>
							<p>UNFOLD THE MAN</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-officium-triste-the-death-of-gaia.png" alt="Vinilo 6">
						</figure>
						<article class="product-box_data">
							<h2>OFFICIUM TRISTE</h2>
							<p>THE DEATH OF GAIA</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-the-texas-gentlemen-floor-it.png" alt="Vinilo 7">
						</figure>
						<article class="product-box_data">
							<h2>TEXAS GENTLEMEN</h2>
							<p>FLOOR IT!!!</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product">
						<figure class="product-box_image">
							<img src="images/products/tn-toshiaki-sakoda-devil-s-crush-alien-crush-soundtracks.png" alt="Vinilo 8">
						</figure>
						<article class="product-box_data">
							<h2>Toshiaki Sakoda</h2>
							<p>DEVIL'S CRUSH & ALIEN CRUSH SOUNDTRACKS</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<%- include('./partials/footer') %>
</body>	
</html>