<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerDeslogueado') %>

	<h2 class="form-title">Iniciar Sesión</h2>
	<!-- Formulario -->
	<div class="form-container">
		<form action="" id="form">
			<div class="form-input"> <h3>Mail</h3> <input type="text" name="email" id="email"> </div>
			<div class="form-input"> <h3>Contraseña</h3> <input type="text" name="password" id="password"> </div>
			<br> <input type="submit" value="Login">
		</form>
	</div>

	<%- include('./partials/footer') %>
</body>
</html>