	<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerLogueado') %>

	<form class="form-horizontal" style="margin: 0 500px 0 500px;">
		<div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="vinyl">Título del álbum</label>  
		  <div class="col-md-4">
		  	<input id="product_name" name="product_name" class="form-control input-md" required="" type="text">
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="artist">Nombre del artista</label>  
		  <div class="col-md-4">
		  	<input id="comment" name="comment" class="form-control input-md" required="" type="text">
		  </div>
		</div>

		<!-- File Button --> 
		<div class="form-group">
		  <label class="col-md-4 control-label" for="image"> Foto del vinilo </label>
		  <div class="col-md-4">
			<input id="filebutton" name="filebutton" class="input-file" type="file">
		  </div>
		</div>
		
		<!-- Button -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="filebutton"></label>
		  <div class="col-md-4">
			<button id="singlebutton" class="btn btn-primary">Subir</button>
		  </div>
		</div>
		
		</div>
	</form>
		
	<%- include('./partials/footer') %>
</body>
</html>