	<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerLogueado') %>

	<form action="/product/store" method="post" enctype="multipart/form-data">
		<input type="file" name="image" placeholder="Image">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="artistName" placeholder="Artist Name">
		<button type="submit">Guardar</button>
	</form>

	<%- include('./partials/footer') %>
</body>
</html>