	<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerLogueado') %>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="/images/users/default-image.png" style="border-radius: 200px;"><br><span class="font-weight-bold">Sebasti치n Ju치rez</span><span class="text-black-50">sebastianjuarez@icloud.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Editar perfil</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mail</label><input type="text" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Nueva contrase침a</label><input type="text" class="form-control" value=""></div>
                    <div class="col-md-6"><label class="labels">Confirmar contrase침a</label><input type="text" class="form-control" value=""></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Aplicar</button></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

	<%- include('./partials/footer') %>
</body>

</html>