/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat&family=Raleway&display=swap');

/*====== Variables ======*/
:root {
  --sapphire: #05668D;
  --seaweed: #028090;
  --persian: #00A896;
  --meadow: #02C39A;
  --spring: #F0F3BD;
  --fade: #ffffff50;
  --title-font: 'Raleway', sans-serif;
  --text-font: 'Montserrat', sans-serif;
  --link-font: 'Gothic A1', sans-serif;
}

/*====== Basics ======*/
*{
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: var(--title-font);
  background-image: url(/images/tlFondo.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none !important;
  color: inherit !important;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--meadow);
}


/*====== Main Header ======*/
.main-header {
  padding: 10px 0;
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
}

.main-header_home-link:hover{
  transform: rotate(360deg);
  transition-duration: 2s;
}

.main-header_credit-link {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form_input {
  border: solid 1px var(--meadow);
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 40px;
  font-size: 1.5em;
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: var(--fade);
  border: none;
  border-left: solid 1px var(--meadow);
  color: var(--gray);
  cursor: pointer;
}


/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--sapphire);
  color: var(--fade);
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.main-navbar {
  margin-top: 20px;
  display: none;
}

.left-navbar,
.right-navbar {
  font-size: 1.5em;
}

.logout{
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1em;
}

.logout:hover{
  color: var(--meadow);
}

.left-navbar a,
.right-navbar a {
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--meadow);
}

/*====== Banner ======*/

/*====== Products ======*/

.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: white;
}

.product-box {
  background-color: var(--fade);
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  
}
.out{
color: white;
background-color: transparent;
border: none;
font-size: 18px;
}
.upgrade{
  font-size: large;
}
.guardar{
  background-color:  #1e2833;
  font-size: 13px;
}
.hey{
  font-size: medium;
}
.op{
  font-size: small;
  color: black;
}
.sw{
  font-size: 13px;
  margin-bottom: 10px;
}
.mw{
  margin-left: 18px;
}
.upload{
  font-size: small;
}
.we{
  font-size: small;
  color: black;
}
.ww{
  font-size: small;
  color: white;
}
.c1{
 display: flex;
 justify-content: center;
 margin-top: 30px;
}
.flex1{
display: flex;
flex-direction: column;
}
.box1{
  background-color: #1e2833;
 padding: 125px 50px 125px 50px;
 color: white;
 border-radius: 30px;
}
.box2{
background-color: #1e2833;
 padding: 60px;
 color: white;
 border-radius: 30px;
}


.user{
  font-size: large;
}
.up{
  font-size: large;
}
.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.product-box_data h2 {
  font-size: 2em;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.2em;
  width: 100%;
  color: white;
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: white;
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.noproducts {
  text-align: center;
}

.product-box:hover {
  box-shadow: 0 0 25px var(--spring);
}

.product-box:hover p {
  height: 36px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 25px var(--meadow);
}

.comments{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.text{
  padding: 20px;
}

/*====== Footer ======*/
.main-footer {
  padding: 20px 0;
  margin-top: 50px;
}

.row{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*====== Product Detail ======*/
.product-detail {
  background-color: var(--fade);
  border-radius: 8px;
  overflow: hidden;
  color: white;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  padding: 15px;
  /* height: 100%; */
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px 15px 15px 40px;
  font-size: 1.8em;
  line-height: 1.5;
  color: white;
  margin-bottom: 0;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}
.product-detail .form{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.small {
  font-size: 1.8em;
  color: white;
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: white;
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: white;
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--fade);
  font-size: 1.6em;
  color: var(--seaweed);
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: var(--fade);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
.comments {
  padding: 30px 15px 15px 0;
}
.comments article{
  margin-bottom: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.comments img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comments .data{
  width: 85%;
  
}
.comments p{
  font-size: 1.5em;
  margin-top: 0;
}
.comments .user{
  font-size: 1.5em;
}

/*====== Formularios ======*/
.login-dark {
  height:300px;
  position:relative;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form, .login-dark form {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

/*====== Profile ======*/
.info-usuario{
  padding-bottom: 30px;
  font-size: 16px;
  color: white;
}

.foto-perfil{
  border-radius: 50%;
}

.main-title{
  font-size: 25px;
  margin-bottom: 10px;
}

.btn{
  background-color: var(--sapphire);
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
}


/*====== Media-Queries ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }



  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin: 10px;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: white;
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
  .udesa{
    margin-bottom: 35px;
  }
 
}